.views-exposed-form .description{
  display: none;
}

.views-exposed-form .form-submit {

    margin-top: 26px !important;
}

.testimonials img {
    width: initial !important;
    display: initial !important;
        padding-bottom: 10px;


}

/*Mise أ  jour du top header*/
div#page header#header.header.section.navbar.navbar-default{
	background: #fff200;
}
div#page section#headline.headline.section{
	background: #275093;
	color: #fff;
}

div#block-menu-menu-social-menu.block.block-menu div.content ul.menu li,
div#block-menu-menu-social-menu.block.block-menu div.content ul.menu{
	border: none;
}
div#block-menu-menu-social-menu.block.block-menu div.content ul.menu li a{
	color: #fff;
}
div#block-menu-menu-social-menu.block.block-menu div.content ul.menu li a:hover{
	color: #fff200;
}

/*Mise أ  jour du menu*/
div#page header#header.header.section.navbar.navbar-default > div.container > nav#main-menu-inner.collapse.navbar-collapse.width > div.region.region-main-menu > div#block-tb-megamenu-main-menu.block.block-tb-megamenu > div.content > div.tb-megamenu.tb-megamenu-main-menu > ul.tb-megamenu-nav.nav > li.tb-megamenu-item.mega > a:hover,
div#page header#header.header.section.navbar.navbar-default > div.container > nav#main-menu-inner.collapse.navbar-collapse.width > div.region.region-main-menu > div#block-tb-megamenu-main-menu.block.block-tb-megamenu > div.content > div.tb-megamenu.tb-megamenu-main-menu > ul.tb-megamenu-nav.nav > li.tb-megamenu-item.mega.open > a
{
	color: #275093;
}
div#block-tb-megamenu-main-menu.block.block-tb-megamenu div.content div.tb-megamenu.tb-megamenu-main-menu > ul.tb-megamenu-nav.nav > li.tb-megamenu-item.active > a:focus,
div#block-tb-megamenu-main-menu.block.block-tb-megamenu div.content div.tb-megamenu.tb-megamenu-main-menu > ul.tb-megamenu-nav.nav > li.tb-megamenu-item > a:focus,
div#block-tb-megamenu-main-menu.block.block-tb-megamenu div.content div.tb-megamenu.tb-megamenu-main-menu > ul.tb-megamenu-nav.nav > li.tb-megamenu-item.active > a:hover,
div#block-tb-megamenu-main-menu.block.block-tb-megamenu div.content div.tb-megamenu.tb-megamenu-main-menu > ul.tb-megamenu-nav.nav > li.tb-megamenu-item.active > a{
	color: #275093;
}

div#block-tb-megamenu-main-menu.block.block-tb-megamenu div.content div.tb-megamenu.tb-megamenu-main-menu > ul.tb-megamenu-nav.nav > li.tb-megamenu-item.mega.dropdown > div.tb-megamenu-submenu.dropdown-menu.mega-dropdown-menu{
	background: #fff200;
}

div#block-tb-megamenu-main-menu.block.block-tb-megamenu div.content div.tb-megamenu.tb-megamenu-main-menu > ul.tb-megamenu-nav.nav > li.tb-megamenu-item.mega.dropdown > div.tb-megamenu-submenu.dropdown-menu.mega-dropdown-menu > div.mega-dropdown-inner div.tb-megamenu-row.row-fluid li.tb-megamenu-item.level-2.mega a{
	color: #000;
}

div#block-tb-megamenu-main-menu.block.block-tb-megamenu div.content div.tb-megamenu.tb-megamenu-main-menu > ul.tb-megamenu-nav.nav > li.tb-megamenu-item.mega.dropdown > div.tb-megamenu-submenu.dropdown-menu.mega-dropdown-menu > div.mega-dropdown-inner div.tb-megamenu-row.row-fluid li.tb-megamenu-item.level-2.mega a:hover{
	color: #fff;
	background-color: #275093;
}

/*Mise أ  jour du slider principal*/
div.view.view-slideshow.view-id-slideshow div.view-content div.flexslider.flexslider-processed ul.slides li div.fieldset.views-fieldset div.fieldset-inner.views-fieldset div.fieldset-action.views-fieldset div.views-field.views-field-view-node span.field-content a{
	background: #275093;
}

div.view.view-slideshow.view-id-slideshow div.view-content div.flexslider.flexslider-processed ul.slides li div.fieldset.views-fieldset div.fieldset-inner.views-fieldset div.fieldset-content.views-fieldset{
	background: #fff200;
}

/*Mise أ  jour du bloc secondaire*/
div#block-views-featured-properties-block.block.block-views.animation div.content div.view.view-featured-properties.view-id-featured_properties.view-display-id-block.featured-properties div.view-content div.metro-layout.horizontal div.content.clearfix div.views-metro-container.items div.box.views-metro-item div.item-inner div.fieldset.views-fieldset{
	background-color: rgba(255, 242, 0, 0.9);
}
/*Oranger #f68c0f*/
/*Jaune background-color: rgba(255, 253, 0, 0.9);*/
div#block-views-featured-properties-block.block.block-views.animation div.content div.view.view-featured-properties.view-id-featured_properties.view-display-id-block.featured-properties div.view-content div.metro-layout.horizontal div.content.clearfix div.views-metro-container.items div.box.views-metro-item div.item-inner div.fieldset.views-fieldset div.views-field.views-field-title span.field-content a{
	color: #275093 !important;
}
div#block-views-featured-properties-block.block.block-views.animation div.content div.view.view-featured-properties.view-id-featured_properties.view-display-id-block.featured-properties div.view-content div.metro-layout.horizontal div.content.clearfix div.views-metro-container.items div.box.views-metro-item div.item-inner div.fieldset.views-fieldset div.views-field.views-field-body{
	color: #000;
}

/*Vue أ  onglets*/
.front div#page section#main.main.section div.container div.row div.col-md- div#content.column div.section div.region.region-content div#block-system-main.block.block-system div.content article.node.node-page.clearfix div.content div.field.field-name-field-block.field-type-blockreference.field-label-hidden div.field-items div.field-item div#block-quicktabs-property-filter.block.block-quicktabs h2{
	color: #275093;
}

.front div#page section#main.main.section div.container div.row div.col-md- div#content.column div.section div.region.region-content div#block-system-main.block.block-system div.content article.node.node-page.clearfix div.content div.field.field-name-field-block.field-type-blockreference.field-label-hidden div.field-items div.field-item div#block-quicktabs-property-filter.block.block-quicktabs div.content div#quicktabs-property_filter.quicktabs-wrapper.quicktabs-style-nostyle div.item-list{
	background: #275093;
}

.front div#page section#main.main.section div.container div.row div.col-md- div#content.column div.section div.region.region-content div#block-system-main.block.block-system div.content article.node.node-page.clearfix div.content div.field.field-name-field-block.field-type-blockreference.field-label-hidden div.field-items div.field-item div#block-quicktabs-property-filter.block.block-quicktabs div.content div#quicktabs-property_filter.quicktabs-wrapper.quicktabs-style-nostyle div.item-list ul.quicktabs-tabs.quicktabs-style-nostyle li.active a.active::before{
	border: 2px solid #fff200;	
}
.front div#page section#main.main.section div.container div.row div.col-md- div#content.column div.section div.region.region-content div#block-system-main.block.block-system div.content article.node.node-page.clearfix div.content div.field.field-name-field-block.field-type-blockreference.field-label-hidden div.field-items div.field-item div#block-quicktabs-property-filter.block.block-quicktabs div.content div#quicktabs-property_filter.quicktabs-wrapper.quicktabs-style-nostyle div.item-list ul.quicktabs-tabs.quicktabs-style-nostyle li.active a.active.quicktabs-loaded{
	color: #fff200;
}
.front div#page section#main.main.section div.container div.row div.col-md- div#content.column div.section div.region.region-content div#block-system-main.block.block-system div.content article.node.node-page.clearfix div.content div.field.field-name-field-block.field-type-blockreference.field-label-hidden div.field-items div.field-item div#block-quicktabs-property-filter.block.block-quicktabs div.content div#quicktabs-property_filter.quicktabs-wrapper.quicktabs-style-nostyle div.item-list ul.quicktabs-tabs.quicktabs-style-nostyle li a{
	color: #fff;
}
.front div#page section#main.main.section div.container div.row div.col-md- div#content.column div.section div.region.region-content div#block-system-main.block.block-system div.content article.node.node-page.clearfix div.content div.field.field-name-field-block.field-type-blockreference.field-label-hidden div.field-items div.field-item div#block-quicktabs-property-filter.block.block-quicktabs div.content div#quicktabs-property_filter.quicktabs-wrapper.quicktabs-style-nostyle div.item-list ul.quicktabs-tabs.quicktabs-style-nostyle li a:hover{
	color: #fff200;
}

div.quicktabs-tabpage div.view-display-id-page.properties-grid-page.animation div.view-content div.views-view-grid div.views-row.clearfix div.grid.views-col div.grid-inner.col-inner.clearfix div.property-image-group.views-fieldset div.property-price-group.views-fieldset div.views-field.views-field-field-property-status div.field-content{
	background: #275093;
}

div#content.column div.section div.region.region-content div#block-system-main.block.block-system div.content article.node.node-page.clearfix div.content div.field.field-name-field-block.field-type-blockreference.field-label-hidden div.field-items div.field-item div#block-quicktabs-property-filter.block.block-quicktabs div.content div#quicktabs-property_filter.quicktabs-wrapper div#quicktabs-container-property_filter.quicktabs_main div.quicktabs-tabpage div.view.view-frontpage.view-id-frontpage.view-display-id-page.properties-grid-page.animation div.view-content div.views-view-grid div.views-row.clearfix div.grid.views-col div.grid-inner.col-inner.clearfix{
	background: #fff200;
}

div.quicktabs-tabpage div.view.view-frontpage.view-id-frontpage.view-display-id-page.properties-grid-page.animation div.view-content div.views-view-grid div.views-row.clearfix div.grid.views-col div.grid-inner.col-inner.clearfix div.property-info-group.views-fieldset{
	border-top: 1px solid #275093;
}

div.quicktabs-tabpage div.view.view-frontpage.view-id-frontpage.view-display-id-page.properties-grid-page.animation div.view-content div.views-view-grid div.views-row.clearfix div.grid.views-col div.grid-inner.col-inner.clearfix div.property-address-group.views-fieldset,
div.quicktabs-tabpage div.view.view-frontpage.view-id-frontpage.view-display-id-page.properties-grid-page.animation div.view-content div.views-view-grid div.views-row.clearfix div.grid.views-col div.grid-inner.col-inner.clearfix div.property-info-group.views-fieldset{
	color: #275093;
}

/*Icأ´nes pour les sous-menus*/
div#block-tb-megamenu-main-menu.block.block-tb-megamenu div.content div.tb-megamenu.tb-megamenu-main-menu ul.tb-megamenu-nav.nav li.tb-megamenu-item.mega.dropdown a.dropdown-toggle span.caret{
	margin-right: -8px;
}

/*Top head Tأ©lأ©phone*/
section#headline.headline.section div.container div.region.region-headline div#block-block-5.block.block-block  a{
	color: #fff;
}

section#headline.headline.section div.container div.region.region-headline div#block-block-5.block.block-block  a:hover,
section#headline.headline.section div.container div.region.region-headline div#block-block-5:hover{
	color: #fff200;
}

/*Top head language*/
div#block-locale-language.block.block-locale h2{
	display: none;
}

div#block-menu-menu-social-menu.block.block-menu {
	width: 14%;
	float: right;
}

div#block-locale-language.block.block-locale{
    width: 23%;
    float: right;

}

div#block-locale-language.block.block-locale div.content ul.language-switcher-locale-url{
	list-style: none;
}

div#block-locale-language.block.block-locale div.content ul.language-switcher-locale-url li{
	display: inline;
	padding-left: 5px;
	padding-right: 5px;
}

div#block-locale-language.block.block-locale div.content ul.language-switcher-locale-url li a.language-link{
	color: #fff;
}

div#block-locale-language.block.block-locale div.content ul.language-switcher-locale-url li a.language-link:hover{
	color: #fff200;
}
/*Annonce détaillée*/
div.group-main-information.field-group-div{
	background: #fff200;
	color: #000;
}
h3#ui-accordion-1-header-0.field-group-format-toggler.accordion-item.ui-accordion-header.ui-helper-reset.ui-state-default.ui-corner-all.ui-accordion-icons a,
h3#ui-accordion-1-header-0.field-group-format-toggler.accordion-item.ui-accordion-header.ui-helper-reset.ui-state-default.ui-corner-all.ui-accordion-icons span.ui-accordion-header-icon.ui-icon.ui-icon-triangle-1-e{
	color: #fff;
}

h3#ui-accordion-1-header-0.field-group-format-toggler.accordion-item.ui-accordion-header.ui-helper-reset.ui-state-default.ui-accordion-icons.ui-corner-all{
	background: #275093;
}

h3#ui-accordion-1-header-0.field-group-format-toggler.accordion-item.ui-accordion-header.ui-helper-reset.ui-state-default.ui-accordion-icons.ui-accordion-header-active.ui-state-active.ui-corner-top{
	background: #fff200;
}

body.node-type-properties div#page section#title-wrapper.section div.container h1#page-title.title{
	background: #fff200;
}

.node-type-properties div#page section#main.main.section div.container div.row div.col-md- div#content.column div.section div.region.region-content div#block-block-8.block.block-block div.content div.row div.for_more_info_text p a,
.node-type-properties div#page section#main.main.section div.container div.row div.col-md- div#content.column div.section div.region.region-content div#block-block-9.block.block-block div.content div.row div.for_more_info_text p a{
	color: #275093;
}

.node-type-properties div#page section#main.main.section div.container div.row div.col-md- div#content.column div.section div.region.region-content div#block-block-8.block.block-block div.content div.row div.for_more_info_text p a:hover,
.node-type-properties div#page section#main.main.section div.container div.row div.col-md- div#content.column div.section div.region.region-content div#block-block-9.block.block-block div.content div.row div.for_more_info_text p a:hover{
	background-color: #275093;
	color: #fff;
}

/*Masquer les champs du formulaire*/
div#page section#main.main.section div.container div.row div.col-md- div#content.column div.section div.region.region-content div#block-system-main.block.block-system div.content form#properties-node-form.node-form.node-properties-form div div#edit-field-bathrooms.field-type-taxonomy-term-reference.field-name-field-bathrooms.field-widget-options-select.form-wrapper,
div#page section#main.main.section div.container div.row div.col-md- div#content.column div.section div.region.region-content div#block-system-main.block.block-system div.content form#properties-node-form.node-form.node-properties-form div div#edit-field-latitude.field-type-text.field-name-field-latitude.field-widget-text-textfield.form-wrapper,
div#page section#main.main.section div.container div.row div.col-md- div#content.column div.section div.region.region-content div#block-system-main.block.block-system div.content form#properties-node-form.node-form.node-properties-form div div#edit-field-longitude.field-type-text.field-name-field-longitude.field-widget-text-textfield.form-wrapper,
div#page section#main.main.section div.container div.row div.col-md- div#content.column div.section div.region.region-content div#block-system-main.block.block-system div.content form#properties-node-form.node-form.node-properties-form div div#edit-field-address.field-type-addressfield.field-name-field-address.field-widget-addressfield-standard.form-wrapper div#field-address-add-more-wrapper div#addressfield-wrapper fieldset#edit-field-address-und-0.form-wrapper div.fieldset-wrapper div.form-item.form-type-select.form-item-field-address-und-0-country,
div#page section#main.main.section div.container div.row div.col-md- div#content.column div.section div.region.region-content div#block-system-main.block.block-system div.content form#properties-node-form.node-form.node-properties-form div div#edit-body.field-type-text-with-summary.field-name-body.field-widget-text-textarea-with-summary.form-wrapper div#body-add-more-wrapper div.text-format-wrapper fieldset#edit-body-und-0-format.filter-wrapper.form-wrapper,
div#page section#main.main.section div.container div.row div.col-md- div#content.column div.section div.region.region-content div#block-system-main.block.block-system div.content form#properties-node-form.node-form.node-properties-form div div.vertical-tabs.clearfix{
	display: none;
}

/*Footer breadcrumb*/
div#page section#breadcrumb.section{
	background: #275093;
	color: #fff;
}

div#page footer#footer.section div.container div.region.region-footer div#block-block-3.block.block-block{
	width: 100%;
	float: none;	
}

div#page footer#footer.section{
	background: #fff200;
	color: #000;
}

div#page footer#footer.section div.container div.region.region-footer{
	border: none;
}
div#page footer#footer.section div.container div.region.region-footer div#block-block-3.block.block-block div.content p a{
	color: #000;
}

div#page footer#footer.section div.container div.region.region-footer div#block-block-3.block.block-block div.content p a:hover{
	color: #275093;
}

div#page section#breadcrumb.section div.container div.breadcrumb a{
	color: #fff;
}

div#page section#breadcrumb.section div.container div.breadcrumb a:hover{
	color: #fff200;
}

div#page a.btn-btt:hover,
div#page a.btn-btt:focus{
	background: #fff200;
	color: #275093;
	opacity: 1;	
}

/*Block au dessous de l'article détaillé*/
div#page section#main.main.section div.container div.row div.col-md- div#content.column div.section div.region.region-content div#block-block-8.block.block-block,
div#page section#main.main.section div.container div.row div.col-md- div#content.column div.section div.region.region-content div#block-block-9.block.block-block{
	background: #fff;
	line-height: 1.6;
	color: #767676;
	font-size: 18px;
	font-weight: 500;	
	padding: 20px;
	margin-bottom: 20px;
}


/*Search block under detailed page*/
form#views-exposed-form-properties-page div div.views-exposed-form div.views-exposed-widgets.clearfix div.views-exposed-widget.views-submit-button input#edit-submit-properties.form-submit{
	background: #fff200;
	color: #000;
}

form#views-exposed-form-properties-page div div.views-exposed-form div.views-exposed-widgets.clearfix div.views-exposed-widget.views-submit-button input#edit-submit-properties.form-submit:hover{
	background: #275093;
	color: #fff;
}